data/odd/tei_revue.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Revue des Colonies</title>
                <author>Raff Viglianti</author>
            </titleStmt>
            <publicationStmt>
                <publisher>TEI Consortium</publisher>
                <availability status="free">
                    <licence target="http://creativecommons.org/licenses/by-sa/3.0/">Distributed under a
            Creative Commons Attribution-ShareAlike 3.0 Unported License</licence>
                    <licence target="http://www.opensource.org/licenses/BSD-2-Clause">
                        <p>Copyright 2013 TEI Consortium.</p>
                        <p>All rights reserved.</p>
                        <p>Redistribution and use in source and binary forms, with or without modification, are
              permitted provided that the following conditions are met:</p>
                        <list>
                            <item>Redistributions of source code must retain the above copyright notice, this list
                of conditions and the following disclaimer.</item>
                            <item>Redistributions in binary form must reproduce the above copyright notice, this
                list of conditions and the following disclaimer in the documentation and/or other
                materials provided with the distribution.</item>
                        </list>
                        <p>This software is provided by the copyright holders and contributors "as is" and any
              express or implied warranties, including, but not limited to, the implied warranties
              of merchantability and fitness for a particular purpose are disclaimed. In no event
              shall the copyright holder or contributors be liable for any direct, indirect,
              incidental, special, exemplary, or consequential damages (including, but not limited
              to, procurement of substitute goods or services; loss of use, data, or profits; or
              business interruption) however caused and on any theory of liability, whether in
              contract, strict liability, or tort (including negligence or otherwise) arising in any
              way out of the use of this software, even if advised of the possibility of such
              damage.</p>
                    </licence>
                    <p>
                        TEI material can be licensed differently depending on the use you intend to make of it.
            Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is
            generally appropriate for usages which treat TEI content as data or documentation. The
            BSD-2 licence is generally appropriate for usage of TEI content in a software
            environment. For further information or clarification, please contact the
                        <ref target="mailto:info@tei-c.org">TEI Consortium</ref>
                        .
                    </p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Created from scratch by James Cummings, but looking at previous tei_minimal and tei_bare
          exemplars by SPQR and LR.</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <appInfo>
                <application ident="RomaJS" version="1.0.0" when="2023-04-06T15:10:52.459Z">
                    <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref></desc>
                </application>
            </appInfo>
            <appInfo>
                <application ident="RomaJS" version="1.0.0" when="2023-04-06T15:30:13.936Z">
                    <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref></desc>
                </application>
            </appInfo>
        </encodingDesc>
    </teiHeader>
    <text>
        <body>
            <head>A Minimal TEI Customization</head>
            <p>
                This TEI ODD defines a TEI customization that is as minimal as possible and the schema
        generated from it will validate a document that is minimally valid against the TEI scheme.
        It includes only the ten required elements:
                <list rend="numbered">
                    <item><gi>teiHeader</gi> from the header module to store required metadata</item>
                    <item>
                        <gi>fileDesc</gi>
                        from the header module to record information about this
            file
                    </item>
                    <item>
                        <gi>titleStmt</gi>
                        from the header module to record information about the
            title
                    </item>
                    <item><gi>publicationStmt</gi> from the header module to detail how it is published</item>
                    <item><gi>sourceDesc</gi> from the header module to record where it is from</item>
                    <item><gi>p</gi> from the core module for use in the header and the body</item>
                    <item><gi>title</gi> from the core module for use in the titleStmt</item>
                    <item>
                        <gi>TEI</gi>
                        from the textstructure module because what is a TEI file without
            that?
                    </item>
                    <item><gi>text</gi> from the textstructure module to hold some text</item>
                    <item><gi>body</gi> from the textstructure module as a place to put that text</item>
                </list>
            </p>
            <schemaSpec ident="tei_revue" start="TEI div noteGrp editionStmt" prefix="tei_" targetLang="en" docLang="en">
                <!-- required minimal header elements -->
                <moduleRef key="namesdates"/>
                <moduleRef key="header" include="teiHeader fileDesc titleStmt editionStmt publicationStmt sourceDesc"/>
                <!-- required core elements (p and title for use in titleStmt) -->
                <moduleRef key="core" include="p title abbr add addrLine address analytic author bibl biblScope biblStruct binaryObject cb choice cit citedRange corr date del desc distinct editor ellipsis email emph expan foreign gap gb gloss graphic head headItem headLabel hi imprint index item l label lb lg list listBibl measure measureGrp media meeting mentioned milestone monogr name note noteGrp num orig pb postBox postCode ptr pubPlace publisher q quote rb ref reg relatedItem resp respStmt rs rt ruby said series sic soCalled sp speaker stage street teiCorpus term textLang time unclear unit"/>
                <!-- required textstructure elements (TEI, text, and body) -->
                <moduleRef key="textstructure" include="TEI text body argument back byline closer dateline div docAuthor docDate docEdition docImprint docTitle epigraph floatingText front group imprimatur opener postscript salute signed titlePage titlePart trailer"/>
                <!-- required module tei instantiates lots of classes used for further expansion of this odd -->
                <moduleRef key="tei"/>
                <moduleRef key="linking" include="seg standOff"/>
                <elementSpec ident="gap" mode="change">
                    <attList>
                        <attDef ident="reason" mode="change">
                            <valList type="closed" mode="change">
                                <valItem mode="add" ident="accidental"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <classRef key="att.global.facs"/>
                <elementSpec ident="orgName" mode="change">
                    <attList>
                        <attDef ident="ref" mode="change">
                            <valList type="closed" mode="change">
                                <valItem mode="add" ident="#AfrIn"/>
                                <valItem mode="add" ident="#SdJ"/>
                                <valItem mode="add" ident="#marine"/>
                                <valItem mode="add" ident="#assises"/>
                                <valItem mode="add" ident="#CGC"/>
                                <valItem mode="add" ident="#AConst"/>
                                <valItem mode="add" ident="#Un"/>
                                <valItem mode="add" ident="#Soc"/>
                                <valItem mode="add" ident="#CP"/>
                                <valItem mode="add" ident="#SA"/>
                                <valItem mode="add" ident="#CR"/>
                                <valItem mode="add" ident="#CMi"/>
                                <valItem mode="add" ident="#AN"/>
                                <valItem mode="add" ident="#GN"/>
                                <valItem mode="add" ident="#MM"/>
                                <valItem mode="add" ident="#AC"/>
                                <valItem mode="add" ident="#IDF"/>
                                <valItem mode="add" ident="#SAE"/>
                                <valItem mode="add" ident="#PB"/>
                                <valItem mode="add" ident="#SA-E"/>
                                <valItem mode="add" ident="#SEU"/>
                                <valItem mode="add" ident="#PA"/>
                                <valItem mode="add" ident="#CHC"/>
                                <valItem mode="add" ident="#CS"/>
                                <valItem mode="add" ident="#PO"/>
                                <valItem mode="add" ident="#StCyr"/>
                                <valItem mode="add" ident="#CE"/>
                                <valItem mode="add" ident="#CRN"/>
                                <valItem mode="add" ident="#CHD"/>
                                <valItem mode="add" ident="#SDA"/>
                                <valItem mode="add" ident="#SMC"/>
                                <valItem mode="add" ident="#CNat"/>
                                <valItem mode="add" ident="#SHC"/>
                                <valItem mode="add" ident="#CC"/>
                                <valItem mode="add" ident="#CDC"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <moduleRef key="transcr" include="supplied"/>
                <elementSpec ident="bibl" mode="change">
                    <attList>
                        <attDef ident="type" mode="change">
                            <valList type="closed" mode="change">
                                <valItem mode="add" ident="monogr"/>
                                <valItem mode="add" ident="periodical"/>
                                <valItem mode="add" ident="legal"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="persName" mode="change">
                    <attList>
                        <attDef ident="ref" mode="change">
                            <valList type="closed" mode="change">
                                <valItem mode="add" ident="#JM"/>
                                <valItem mode="add" ident="#RAB"/>
                                <valItem mode="add" ident="#MORE"/>
                                <valItem mode="add" ident="#POI"/>
                                <valItem mode="add" ident="#EMG"/>
                                <valItem mode="add" ident="#HR"/>
                                <valItem mode="add" ident="#JDI"/>
                                <valItem mode="add" ident="#JBI"/>
                                <valItem mode="add" ident="#IW"/>
                                <valItem mode="add" ident="#JI"/>
                                <valItem mode="add" ident="#Ov"/>
                                <valItem mode="add" ident="#FP"/>
                                <valItem mode="add" ident="#WK"/>
                                <valItem mode="add" ident="#MHP"/>
                                <valItem mode="add" ident="#TCL"/>
                                <valItem mode="add" ident="#RSm"/>
                                <valItem mode="add" ident="#DB"/>
                                <valItem mode="add" ident="#GIV"/>
                                <valItem mode="add" ident="#DT"/>
                                <valItem mode="add" ident="#D"/>
                                <valItem mode="add" ident="#JMQL"/>
                                <valItem mode="add" ident="#SBol"/>
                                <valItem mode="add" ident="#DGE"/>
                                <valItem mode="add" ident="#JBLG"/>
                                <valItem mode="add" ident="#JdL"/>
                                <valItem mode="add" ident="#ROG"/>
                                <valItem mode="add" ident="#Barbaroux"/>
                                <valItem mode="add" ident="#x-tanc"/>
                                <valItem mode="add" ident="#VAg"/>
                                <valItem mode="add" ident="#Wi"/>
                                <valItem mode="add" ident="#Ha"/>
                                <valItem mode="add" ident="#SBer"/>
                                <valItem mode="add" ident="#JCS"/>
                                <valItem mode="add" ident="#BAH"/>
                                <valItem mode="add" ident="#RESC"/>
                                <valItem mode="add" ident="#TdL"/>
                                <valItem mode="add" ident="#AB"/>
                                <valItem mode="add" ident="#AdB"/>
                                <valItem mode="add" ident="#AFoi"/>
                                <valItem mode="add" ident="#Lcy"/>
                                <valItem mode="add" ident="#StH"/>
                                <valItem mode="add" ident="#Vig"/>
                                <valItem mode="add" ident="#CPe"/>
                                <valItem mode="add" ident="#BC"/>
                                <valItem mode="add" ident="#SHK"/>
                                <valItem mode="add" ident="#Tnc"/>
                                <valItem mode="add" ident="#Foy"/>
                                <valItem mode="add" ident="#Dprt"/>
                                <valItem mode="add" ident="#SteC"/>
                                <valItem mode="add" ident="#AP"/>
                                <valItem mode="add" ident="#Mtsq"/>
                                <valItem mode="add" ident="#JUV"/>
                                <valItem mode="add" ident="#BCl"/>
                                <valItem mode="add" ident="#JMC"/>
                                <valItem mode="add" ident="#CVEL"/>
                                <valItem mode="add" ident="#ARi"/>
                                <valItem mode="add" ident="#CBe"/>
                                <valItem mode="add" ident="#HC"/>
                                <valItem mode="add" ident="#JJD"/>
                                <valItem mode="add" ident="#ADA"/>
                                <valItem mode="add" ident="#JEF"/>
                                <valItem mode="add" ident="#SC"/>
                                <valItem mode="add" ident="#WAS"/>
                                <valItem mode="add" ident="#Gatine"/>
                                <valItem mode="add" ident="#MOR"/>
                                <valItem mode="add" ident="#LXVIII"/>
                                <valItem mode="add" ident="#SR"/>
                                <valItem mode="add" ident="#CX"/>
                                <valItem mode="add" ident="#Equ"/>
                                <valItem mode="add" ident="#GT"/>
                                <valItem mode="add" ident="#POR"/>
                                <valItem mode="add" ident="#Be"/>
                                <valItem mode="add" ident="#ADp"/>
                                <valItem mode="add" ident="#CB"/>
                                <valItem mode="add" ident="#Stx"/>
                                <valItem mode="add" ident="#MtC"/>
                                <valItem mode="add" ident="#Bstd"/>
                                <valItem mode="add" ident="#JHD"/>
                                <valItem mode="add" ident="#ALSH"/>
                                <valItem mode="add" ident="#JTP"/>
                                <valItem mode="add" ident="#GdB"/>
                                <valItem mode="add" ident="#FAB"/>
                                <valItem mode="add" ident="#HP"/>
                                <valItem mode="add" ident="#JMG"/>
                                <valItem mode="add" ident="#XaT"/>
                                <valItem mode="add" ident="#JdF"/>
                                <valItem mode="add" ident="#GC"/>
                                <valItem mode="add" ident="#PWill"/>
                                <valItem mode="add" ident="#JZ"/>
                                <valItem mode="add" ident="#Ces"/>
                                <valItem mode="add" ident="#PERS"/>
                                <valItem mode="add" ident="#BA"/>
                                <valItem mode="add" ident="#BAI"/>
                                <valItem mode="add" ident="#BARC"/>
                                <valItem mode="add" ident="#BARD"/>
                                <valItem mode="add" ident="#Bast"/>
                                <valItem mode="add" ident="#MmeB"/>
                                <valItem mode="add" ident="#CJB"/>
                                <valItem mode="add" ident="#BOL"/>
                                <valItem mode="add" ident="#CAF"/>
                                <valItem mode="add" ident="#C"/>
                                <valItem mode="add" ident="#Mul"/>
                                <valItem mode="add" ident="#DR"/>
                                <valItem mode="add" ident="#Deniz"/>
                                <valItem mode="add" ident="#DU"/>
                                <valItem mode="add" ident="#EG"/>
                                <valItem mode="add" ident="#MmeF"/>
                                <valItem mode="add" ident="#Gib"/>
                                <valItem mode="add" ident="#JAC"/>
                                <valItem mode="add" ident="#J"/>
                                <valItem mode="add" ident="#LXV"/>
                                <valItem mode="add" ident="#Pec"/>
                                <valItem mode="add" ident="#PONT"/>
                                <valItem mode="add" ident="#Q"/>
                                <valItem mode="add" ident="#RA"/>
                                <valItem mode="add" ident="#Sligo"/>
                                <valItem mode="add" ident="#VA"/>
                                <valItem mode="add" ident="#FRO"/>
                                <valItem mode="add" ident="#JN"/>
                                <valItem mode="add" ident="#EP"/>
                                <valItem mode="add" ident="#RO"/>
                                <valItem mode="add" ident="#SB"/>
                                <valItem mode="add" ident="#TC"/>
                                <valItem mode="add" ident="#TLOUV"/>
                                <valItem mode="add" ident="#JBVol"/>
                                <valItem mode="add" ident="#Ambert"/>
                                <valItem mode="add" ident="#Ballin"/>
                                <valItem mode="add" ident="#Berr"/>
                                <valItem mode="add" ident="#Bethm"/>
                                <valItem mode="add" ident="#Dav"/>
                                <valItem mode="add" ident="#deJab"/>
                                <valItem mode="add" ident="#LdV"/>
                                <valItem mode="add" ident="#LFab"/>
                                <valItem mode="add" ident="#AG"/>
                                <valItem mode="add" ident="#BART"/>
                                <valItem mode="add" ident="#BOLI"/>
                                <valItem mode="add" ident="#ABE"/>
                                <valItem mode="add" ident="#JB"/>
                                <valItem mode="add" ident="#BDM"/>
                                <valItem mode="add" ident="#BDB"/>
                                <valItem mode="add" ident="#Bo"/>
                                <valItem mode="add" ident="#BRO"/>
                                <valItem mode="add" ident="#BUC"/>
                                <valItem mode="add" ident="#BUX"/>
                                <valItem mode="add" ident="#KCI"/>
                                <valItem mode="add" ident="#ACL"/>
                                <valItem mode="add" ident="#AJC"/>
                                <valItem mode="add" ident="#NIC"/>
                                <valItem mode="add" ident="#ES"/>
                                <valItem mode="add" ident="#LTelem"/>
                                <valItem mode="add" ident="#MEL"/>
                                <valItem mode="add" ident="#JPB"/>
                                <valItem mode="add" ident="#AA"/>
                                <valItem mode="add" ident="#ART"/>
                                <valItem mode="add" ident="#CIC"/>
                                <valItem mode="add" ident="#BOI"/>
                                <valItem mode="add" ident="#WW"/>
                                <valItem mode="add" ident="#EC"/>
                                <valItem mode="add" ident="#CLM"/>
                                <valItem mode="add" ident="#COX"/>
                                <valItem mode="add" ident="#DA"/>
                                <valItem mode="add" ident="#DESL"/>
                                <valItem mode="add" ident="#DP"/>
                                <valItem mode="add" ident="#DRO"/>
                                <valItem mode="add" ident="#QEI"/>
                                <valItem mode="add" ident="#EL"/>
                                <valItem mode="add" ident="#FIL"/>
                                <valItem mode="add" ident="#FL"/>
                                <valItem mode="add" ident="#FPC"/>
                                <valItem mode="add" ident="#FV"/>
                                <valItem mode="add" ident="#JF"/>
                                <valItem mode="add" ident="#AGA"/>
                                <valItem mode="add" ident="#GAU"/>
                                <valItem mode="add" ident="#GE"/>
                                <valItem mode="add" ident="#GI"/>
                                <valItem mode="add" ident="#JBG"/>
                                <valItem mode="add" ident="#HA"/>
                                <valItem mode="add" ident="#JH"/>
                                <valItem mode="add" ident="#KJI"/>
                                <valItem mode="add" ident="#JMM"/>
                                <valItem mode="add" ident="#DLM"/>
                                <valItem mode="add" ident="#LA"/>
                                <valItem mode="add" ident="#LEC"/>
                                <valItem mode="add" ident="#LEP"/>
                                <valItem mode="add" ident="#LSR"/>
                                <valItem mode="add" ident="#LWT"/>
                                <valItem mode="add" ident="#LPA"/>
                                <valItem mode="add" ident="#LOY"/>
                                <valItem mode="add" ident="#LUD"/>
                                <valItem mode="add" ident="#LUS"/>
                                <valItem mode="add" ident="#GDB"/>
                                <valItem mode="add" ident="#MR"/>
                                <valItem mode="add" ident="#MDP"/>
                                <valItem mode="add" ident="#MER"/>
                                <valItem mode="add" ident="#Mi"/>
                                <valItem mode="add" ident="#MEH"/>
                                <valItem mode="add" ident="#MON"/>
                                <valItem mode="add" ident="#MD"/>
                                <valItem mode="add" ident="#Ne"/>
                                <valItem mode="add" ident="#OC"/>
                                <valItem mode="add" ident="#PAS"/>
                                <valItem mode="add" ident="#Pel"/>
                                <valItem mode="add" ident="#PD"/>
                                <valItem mode="add" ident="#REL"/>
                                <valItem mode="add" ident="#SALE"/>
                                <valItem mode="add" ident="#SAL"/>
                                <valItem mode="add" ident="#SAM"/>
                                <valItem mode="add" ident="#SFDP"/>
                                <valItem mode="add" ident="#SOL"/>
                                <valItem mode="add" ident="#ATap"/>
                                <valItem mode="add" ident="#CT"/>
                                <valItem mode="add" ident="#ATO"/>
                                <valItem mode="add" ident="#HV"/>
                                <valItem mode="add" ident="#VE"/>
                                <valItem mode="add" ident="#VERH"/>
                                <valItem mode="add" ident="#VIR"/>
                                <valItem mode="add" ident="#WA"/>
                                <valItem mode="add" ident="#WH"/>
                                <valItem mode="add" ident="#NB"/>
                                <valItem mode="add" ident="#Grey"/>
                                <valItem mode="add" ident="#GL"/>
                                <valItem mode="add" ident="#GVD"/>
                                <valItem mode="add" ident="#MMG"/>
                                <valItem mode="add" ident="#AR"/>
                                <valItem mode="add" ident="#ATelem"/>
                                <valItem mode="add" ident="#Baud"/>
                                <valItem mode="add" ident="#Be-Z"/>
                                <valItem mode="add" ident="#ABour"/>
                                <valItem mode="add" ident="#CAR"/>
                                <valItem mode="add" ident="#Chara"/>
                                <valItem mode="add" ident="#C-A"/>
                                <valItem mode="add" ident="#CJ"/>
                                <valItem mode="add" ident="#GdL"/>
                                <valItem mode="add" ident="#Talle"/>
                                <valItem mode="add" ident="#"/>
                                <valItem mode="add" ident="#DUL"/>
                                <valItem mode="add" ident="#DuDu"/>
                                <valItem mode="add" ident="#LEl"/>
                                <valItem mode="add" ident="#Germa"/>
                                <valItem mode="add" ident="#HuyD"/>
                                <valItem mode="add" ident="#Plv"/>
                                <valItem mode="add" ident="#LaF"/>
                                <valItem mode="add" ident="#Dfy"/>
                                <valItem mode="add" ident="#DES"/>
                                <valItem mode="add" ident="#RL"/>
                                <valItem mode="add" ident="#XT"/>
                                <valItem mode="add" ident="#BEO"/>
                                <valItem mode="add" ident="#MACK"/>
                                <valItem mode="add" ident="#FI"/>
                                <valItem mode="add" ident="#FXD"/>
                                <valItem mode="add" ident="#ANog"/>
                                <valItem mode="add" ident="#AHav"/>
                                <valItem mode="add" ident="#JorLa"/>
                                <valItem mode="add" ident="#DEH"/>
                                <valItem mode="add" ident="#HF"/>
                                <valItem mode="add" ident="#Meril"/>
                                <valItem mode="add" ident="#NOA"/>
                                <valItem mode="add" ident="#OB"/>
                                <valItem mode="add" ident="#Parant"/>
                                <valItem mode="add" ident="#RS"/>
                                <valItem mode="add" ident="#TCA"/>
                                <valItem mode="add" ident="#THI"/>
                                <valItem mode="add" ident="#LP"/>
                                <valItem mode="add" ident="#AD"/>
                                <valItem mode="add" ident="#EH"/>
                                <valItem mode="add" ident="#TRA"/>
                                <valItem mode="add" ident="#PER"/>
                                <valItem mode="add" ident="#LePell"/>
                                <valItem mode="add" ident="#AuA"/>
                                <valItem mode="add" ident="#Louisy"/>
                                <valItem mode="add" ident="#SUG"/>
                                <valItem mode="add" ident="#SUB"/>
                                <valItem mode="add" ident="#BZ"/>
                                <valItem mode="add" ident="#JFB"/>
                                <valItem mode="add" ident="#Bosqu"/>
                                <valItem mode="add" ident="#CDup"/>
                                <valItem mode="add" ident="#CH"/>
                                <valItem mode="add" ident="#CO"/>
                                <valItem mode="add" ident="#Dal"/>
                                <valItem mode="add" ident="#Dupo"/>
                                <valItem mode="add" ident="#HG"/>
                                <valItem mode="add" ident="#LX"/>
                                <valItem mode="add" ident="#FMaug"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="placeName" mode="change">
                    <attList>
                        <attDef ident="ref" mode="change">
                            <valList type="closed" mode="change">
                                <valItem mode="add" ident="#BdV"/>
                                <valItem mode="add" ident="#CSR"/>
                                <valItem mode="add" ident="#RLS"/>
                                <valItem mode="add" ident="#HT"/>
                                <valItem mode="add" ident="#BRE"/>
                                <valItem mode="add" ident="#Col"/>
                                <valItem mode="add" ident="#Va"/>
                                <valItem mode="add" ident="#FdF"/>
                                <valItem mode="add" ident="#Lib"/>
                                <valItem mode="add" ident="#CPa"/>
                                <valItem mode="add" ident="#ESS"/>
                                <valItem mode="add" ident="#CRC"/>
                                <valItem mode="add" ident="#StP"/>
                                <valItem mode="add" ident="#AM"/>
                                <valItem mode="add" ident="#clns"/>
                                <valItem mode="add" ident="#SteH"/>
                                <valItem mode="add" ident="#FJ"/>
                                <valItem mode="add" ident="#PtP"/>
                                <valItem mode="add" ident="#EB"/>
                                <valItem mode="add" ident="#Ed"/>
                                <valItem mode="add" ident="#Da"/>
                                <valItem mode="add" ident="#Gl"/>
                                <valItem mode="add" ident="#Bi"/>
                                <valItem mode="add" ident="#Br"/>
                                <valItem mode="add" ident="#Bos"/>
                                <valItem mode="add" ident="#Ba"/>
                                <valItem mode="add" ident="#wi"/>
                                <valItem mode="add" ident="#lon"/>
                                <valItem mode="add" ident="#ChD"/>
                                <valItem mode="add" ident="#Wa"/>
                                <valItem mode="add" ident="#Bou"/>
                                <valItem mode="add" ident="#ex"/>
                                <valItem mode="add" ident="#bra"/>
                                <valItem mode="add" ident="#Eco"/>
                                <valItem mode="add" ident="#Nil"/>
                                <valItem mode="add" ident="#NI"/>
                                <valItem mode="add" ident="#OA"/>
                                <valItem mode="add" ident="#Par"/>
                                <valItem mode="add" ident="#PlB"/>
                                <valItem mode="add" ident="#PE"/>
                                <valItem mode="add" ident="#PY"/>
                                <valItem mode="add" ident="#StC"/>
                                <valItem mode="add" ident="#StD"/>
                                <valItem mode="add" ident="#StG"/>
                                <valItem mode="add" ident="#StV"/>
                                <valItem mode="add" ident="#StM"/>
                                <valItem mode="add" ident="#SaY"/>
                                <valItem mode="add" ident="#Sav"/>
                                <valItem mode="add" ident="#SEN"/>
                                <valItem mode="add" ident="#SL"/>
                                <valItem mode="add" ident="#SW"/>
                                <valItem mode="add" ident="#TA"/>
                                <valItem mode="add" ident="#T"/>
                                <valItem mode="add" ident="#TH"/>
                                <valItem mode="add" ident="#TO"/>
                                <valItem mode="add" ident="#TR"/>
                                <valItem mode="add" ident="#Ur"/>
                                <valItem mode="add" ident="#Ve"/>
                                <valItem mode="add" ident="#ADN"/>
                                <valItem mode="add" ident="#Nou"/>
                                <valItem mode="add" ident="#OR"/>
                                <valItem mode="add" ident="#BAS"/>
                                <valItem mode="add" ident="#LOU"/>
                                <valItem mode="add" ident="#SO"/>
                                <valItem mode="add" ident="#QU"/>
                                <valItem mode="add" ident="#VI"/>
                                <valItem mode="add" ident="#TOU"/>
                                <valItem mode="add" ident="#SG"/>
                                <valItem mode="add" ident="#COL"/>
                                <valItem mode="add" ident="#MELL"/>
                                <valItem mode="add" ident="#CAS"/>
                                <valItem mode="add" ident="#FC"/>
                                <valItem mode="add" ident="#RE"/>
                                <valItem mode="add" ident="#CBO"/>
                                <valItem mode="add" ident="#IAC"/>
                                <valItem mode="add" ident="#MAS"/>
                                <valItem mode="add" ident="#STLO"/>
                                <valItem mode="add" ident="#SALU"/>
                                <valItem mode="add" ident="#ADS"/>
                                <valItem mode="add" ident="#PR"/>
                                <valItem mode="add" ident="#SU"/>
                                <valItem mode="add" ident="#CU"/>
                                <valItem mode="add" ident="#STE"/>
                                <valItem mode="add" ident="#SAB"/>
                                <valItem mode="add" ident="#BOU"/>
                                <valItem mode="add" ident="#CdS"/>
                                <valItem mode="add" ident="#Lvp"/>
                                <valItem mode="add" ident="#Ec"/>
                                <valItem mode="add" ident="#Lam"/>
                                <valItem mode="add" ident="#GUY"/>
                                <valItem mode="add" ident="#MAU"/>
                                <valItem mode="add" ident="#METFR"/>
                                <valItem mode="add" ident="#AF"/>
                                <valItem mode="add" ident="#Phd"/>
                                <valItem mode="add" ident="#StMa"/>
                                <valItem mode="add" ident="#Nts"/>
                                <valItem mode="add" ident="#BaA"/>
                                <valItem mode="add" ident="#Beau"/>
                                <valItem mode="add" ident="#N-E"/>
                                <valItem mode="add" ident="#SLe"/>
                                <valItem mode="add" ident="#Ar"/>
                                <valItem mode="add" ident="#Nan"/>
                                <valItem mode="add" ident="#ALL"/>
                                <valItem mode="add" ident="#ANTE"/>
                                <valItem mode="add" ident="#CHER"/>
                                <valItem mode="add" ident="#CGR"/>
                                <valItem mode="add" ident="#ETA"/>
                                <valItem mode="add" ident="#GB"/>
                                <valItem mode="add" ident="#GF"/>
                                <valItem mode="add" ident="#StT"/>
                                <valItem mode="add" ident="#STL"/>
                                <valItem mode="add" ident="#SEOI"/>
                                <valItem mode="add" ident="#TIT"/>
                                <valItem mode="add" ident="#VEN"/>
                                <valItem mode="add" ident="#Ver"/>
                                <valItem mode="add" ident="#NY"/>
                                <valItem mode="add" ident="#New"/>
                                <valItem mode="add" ident="#NJ"/>
                                <valItem mode="add" ident="#BEN"/>
                                <valItem mode="add" ident="#ISV"/>
                                <valItem mode="add" ident="#GEO"/>
                                <valItem mode="add" ident="#Ami"/>
                                <valItem mode="add" ident="#ANT"/>
                                <valItem mode="add" ident="#BAR"/>
                                <valItem mode="add" ident="#B-T"/>
                                <valItem mode="add" ident="#Bng"/>
                                <valItem mode="add" ident="#BER"/>
                                <valItem mode="add" ident="#BE"/>
                                <valItem mode="add" ident="#BON"/>
                                <valItem mode="add" ident="#Bor"/>
                                <valItem mode="add" ident="#BOUG"/>
                                <valItem mode="add" ident="#BR"/>
                                <valItem mode="add" ident="#CapM"/>
                                <valItem mode="add" ident="#CA"/>
                                <valItem mode="add" ident="#CHAN"/>
                                <valItem mode="add" ident="#Cha"/>
                                <valItem mode="add" ident="#Che"/>
                                <valItem mode="add" ident="#CON"/>
                                <valItem mode="add" ident="#CUB"/>
                                <valItem mode="add" ident="#Dar"/>
                                <valItem mode="add" ident="#DE"/>
                                <valItem mode="add" ident="#DOU"/>
                                <valItem mode="add" ident="#USA"/>
                                <valItem mode="add" ident="#FoR"/>
                                <valItem mode="add" ident="#GdM"/>
                                <valItem mode="add" ident="#GdA"/>
                                <valItem mode="add" ident="#GR"/>
                                <valItem mode="add" ident="#GU"/>
                                <valItem mode="add" ident="#HO"/>
                                <valItem mode="add" ident="#IM"/>
                                <valItem mode="add" ident="#ISJ"/>
                                <valItem mode="add" ident="#IDV"/>
                                <valItem mode="add" ident="#IN"/>
                                <valItem mode="add" ident="#JA"/>
                                <valItem mode="add" ident="#K"/>
                                <valItem mode="add" ident="#LH"/>
                                <valItem mode="add" ident="#PaP"/>
                                <valItem mode="add" ident="#TRI"/>
                                <valItem mode="add" ident="#CBE"/>
                                <valItem mode="add" ident="#Hav"/>
                                <valItem mode="add" ident="#InO"/>
                                <valItem mode="add" ident="#Lo"/>
                                <valItem mode="add" ident="#LUC"/>
                                <valItem mode="add" ident="#MAN"/>
                                <valItem mode="add" ident="#MC"/>
                                <valItem mode="add" ident="#ME"/>
                                <valItem mode="add" ident="#MO"/>
                                <valItem mode="add" ident="#FR"/>
                                <valItem mode="add" ident="#EUR"/>
                                <valItem mode="add" ident="#NP"/>
                                <valItem mode="add" ident="#DOM"/>
                                <valItem mode="add" ident="#Alg"/>
                                <valItem mode="add" ident="#Cay"/>
                                <valItem mode="add" ident="#Esk"/>
                                <valItem mode="add" ident="#ANG"/>
                                <valItem mode="add" ident="#MQ"/>
                                <valItem mode="add" ident="#BrB"/>
                                <valItem mode="add" ident="#GP"/>
                                <valItem mode="add" ident="#DAN"/>
                                <valItem mode="add" ident="#CARA"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="title" mode="change">
                    <attList>
                        <attDef ident="ref" mode="change">
                            <valList type="closed" mode="change">
                                <valItem mode="add" ident="#L1831"/>
                                <valItem mode="add" ident="#LOC"/>
                                <valItem mode="add" ident="#OPC"/>
                                <valItem mode="add" ident="#O1828"/>
                                <valItem mode="add" ident="#Slz"/>
                                <valItem mode="add" ident="#emanc_fr"/>
                                <valItem mode="add" ident="#CM"/>
                                <valItem mode="add" ident="#Code_nap"/>
                                <valItem mode="add" ident="#codenoir"/>
                                <valItem mode="add" ident="#SAT"/>
                                <valItem mode="add" ident="#C30"/>
                                <valItem mode="add" ident="#DDH"/>
                                <valItem mode="add" ident="#CN"/>
                                <valItem mode="add" ident="#AE"/>
                                <valItem mode="add" ident="#RdC"/>
                                <valItem mode="add" ident="#LT"/>
                                <valItem mode="add" ident="#Abol"/>
                                <valItem mode="add" ident="#LC"/>
                                <valItem mode="add" ident="#JdH"/>
                                <valItem mode="add" ident="#Ed1315"/>
                                <valItem mode="add" ident="#Mar"/>
                                <valItem mode="add" ident="#Frtn"/>
                                <valItem mode="add" ident="#SAA"/>
                                <valItem mode="add" ident="#CPen"/>
                                <valItem mode="add" ident="#RC"/>
                                <valItem mode="add" ident="#MU"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="rs" mode="change">
                    <attList>
                        <attDef ident="type" mode="change">
                            <valList type="closed" mode="change">
                                <valItem mode="add" ident="affaire"/>
                                <valItem mode="add" ident="event"/>
                            </valList>
                        </attDef>
                        <attDef ident="ref" mode="change">
                            <valList mode="change">
                                <valItem mode="add" ident="#RJ"/>
                                <valItem mode="add" ident="#INDA"/>
                                <valItem mode="add" ident="#GIND"/>
                                <valItem mode="add" ident="#REV"/>
                                <valItem mode="add" ident="#PCé"/>
                                <valItem mode="add" ident="#YKS"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <moduleRef key="figures" include="figure figDesc table row cell"/>
            </schemaSpec>
        </body>
    </text>
</TEI>